body{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
}
.image{
	max-width:50%;
	max-height:50%;
}
.sunset1{
	content:url(sunset1.png);
}
.flower{
	content:url(flower.png);
}
.eclipse{
	content:url(eclipse.png);
}
.flower2(1){
	content:url(flower2(1).png);
}
.column-1{
	height: 30vh;
	width: 100vw;
}
.column-2{
	height: 70vh;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
}
.box{
	height: 100%;
	width: 25%;
}


.red {background-color: red;}
.green0 {background-color: #32CD32;}
.green1 {background-color: #00FF00;}
.green2 {background-color: #228B22;}
.green3 {background-color: #008000;}

@media screen and (max-width:800px){
	.column-1{
		height: 40vh;
	}
	.column-2{
		height: 60vh;
		width: 60vw;
	}
	
	.box{
	height: 50%;
	width: 50%;
	}
}
